DATABASE_URL='postgres://see-docker-settings'
REDIS_URL='redis://see-docker-settings'
PORT='3000'
JWT_SECRET='generate-for-example:require('crypto').randomBytes(32).toString('hex')'
NODE_ENV='development'